<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>User Confirmation Account</title>

    <style>
      .buttonload {
        background-color: #04aa6d; /* Green background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer;
      }

      .main {
        margin: auto;
        margin-top: 10%;
        width: 60%;
        padding: 10px;
      }
    </style>
  </head>
  <body onload="javascript:sent_confirm()">
    <div class="main">
      <h1>تم تفعيل حسابك بنجاح ، أرجع الى التطبيق وسجل الدخول</h1>

      <!-- <div id="error"></div>
      <p id="uid" hidden>{{uid}}</p>
      <p id="token" hidden>{{token}}</p>
      <h2>قم بتفعيل حسابك بالضغط على الزر</h2>
      <button class="buttonload" id="button">Activate</button> -->
    </div>
    <script>
      var uid = "{{ uid }}"
      var token = "{{ token }}"
      // const uid = document.getElementById("uid").textContent
      // const token = document.getElementById("token").textContent

      function sent_confirm() {
        var uid = "{{ uid }}"
        var token = "{{ token }}"
        const data = {
          uid,
          token,
        }
        // fetch("https://exchangemoneyapp.herokuapp.com/auth/users/activation/", {
        fetch("http://localhost:8000/auth/users/activation/", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(data),
        }).then((res) => {
          alert("success!")
        })
      }

      // let button = document.getElementById("button")
      // let error = document.getElementById("error")
      // const data = {
      //   uid,
      //   token,
      // }
      // button.addEventListener("click", function () {
      //   document.getElementById("button").disabled = true
      //   fetch("https://exchangemoneyapp.herokuapp.com/auth/users/activation/", {
      //     method: "POST",
      //     headers: { "Content-Type": "application/json" },
      //     body: JSON.stringify(data),
      //   }).then((res) => {
      //     if (res.status === 204) {
      //       window.location.replace(
      //         "https://exchangemoneyapp.herokuapp.com/activate/success"
      //       )
      //     } else {
      //       document.getElementById("button").disabled = false
      //       document.getElementById("error").innerHTML =
      //         "<h1>عذراً حصل خطأ اثناء عملية تفعيلك لحسابك، اذا كان حسابك مفعل يمكن ان يظهر هذا الخطأ في هذه الحالة ارجع الى التطبيق وسجل دخول، او ربما انت غير متصل بالانترنت</h1>"
      //     }
      //   })
      // })
    </script>
  </body>
</html>
